:root {
  --black:      #000000;
  --white:      #ffffff;
  --red:        #fe3c01;
  --yellow:     #ffe815;
  --blue:       #0b1dff;
  --pink:       #ff75f6;
  --green:      #45ff08;
  --orange:     #ff6200;
  --grey:       #ababab;
  --light-grey: #e0e0e0;
  --off-white:  #fafafa;

  --font-main:    'Outfit', sans-serif;
  --font-serif:   'EB Garamond', serif;
}